<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <p>
                Froth was conceived by DJs Decka and Vinnie in about 1993 on the way to a lunchtime game of squash.
                During the ensuing conversation, it became apparent that we appreciated similar music and, as a result,
                DJ Vinnie created the first Froth tape: <strong>Now That's What I Call Froth 1 - The Rabid Spume Mix!
                </strong>  Artists included Nirvana, Siouxsie And The Banshees and U2. Not to be outdone, DJ Decka
                responded with <strong>Now That's What I Call Froth, Too! - The Soggy Underpants Mix</strong> and so it
                went on! It was never imagined at that time that the Froth series would still be going strong decades
                later.
            </p>
            <p>
                In total, 13 Froth Tapes were created and these are currently being digitally remastered on to CD and
                will eventually have their own section on this web-site.
            </p>
            <p>
                A major development was when DJ Dick produced the tenth tape: <strong>Froth Paradiso</strong> in 1998
                as a guest DJ. It was obvious that this guy was too good to let go and so VD Ents. Co. became DVD Ents.
                Co. It's fair to say that DJ Dick has always been at the forefront of pushing the Froth envelope and he
                has been responsible for the first Froth CD (20th Century Froth), the first Froth DVD (Visual Froth)
                and was the driving force behind this web-site.
            </p>
            <p>R
                ecent developments include a compilation by DJ Bousa: <strong>Teenage Froth</strong>, son of DJ Decka,
                meaning DVD Ents. Co. is now DVD &amp; Sons Ents. Co.
            </p>
            <p>
                Currently, <span class="froth_data" data-php-param="6"> </span> Froth CDs and counting have been
                produced.
            </p>
        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Dick Marjanovic</h3>
        </div>
    </div>
</div>