<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div id="main">
            <h2>Froth Definition</h2>
            <blockquote>
                Music that gets you going and works you up into a lather i.e. Froth, via the creation of a
                compilation of Frothy songs. The power of Froth should not be under-estimated; certain tracks have been
                known to leave enthusiastic listeners in a soggy mess! In fact, early Froth compilations were issued
                containing emergency mess prevention tracks and even limited edition emergency mess cleaning kits
                (essentially containing a rubber glove and tissues!).
            </blockquote>
            <h2>Froth Philosophy</h2>
            <p>
                There are two types of Froth compilation album; themed and non-themed. Although the content can vary
                widely between releases, both types should adopt the same principles. Ideally, a Froth album should
                include a carefully crafted and well thought out blend of both new and older songs. It's not just a
                case of throwing any old tracks together, oh no, Froth takes time! In fact, it can take years from
                initial concept to final album production whilst the necessary tracks are acquired.
            </p>
            <p>
                The running order is also vitally important. Traditionally, but not always, the first song will be the
                frothiest (in fact, a best of compilation consisting of opening tracks only may well be worth doing but
                could actually be too dangerous to listen to!). There is often a quieter section in the middle
                (allowing the listener to get their breath back, change their underpants, etc.) before again building
                up to a Frothy climax (often resulting in another change of underpants, clothes, interior decor).
            </p>
            <p>
                Different types of music get different people Frothing; however, most Froth mainly (but not always)
                consists of Indie-Punky-Acoustic-Heavy-Folky stuff. Anything from adolescent exuberance to grown-up
                listening; none of your wishy-washy pop pap here!
            </p>
        </div>
        <div class="row">
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Dick Marjanovic</h3>
        </div>
    </div>
</div>